@model PaginaRedSocial.Models.User
@{
    ViewData["Title"] = "Perfil Page";
}

<head>
    <style>
        body {
           
        }

        .box{
            width: 600px;
            margin:auto;
        }
    </style>
</head>

<body>
    <div class="box">
        @if (ViewData["message"] != null)
        {
            <div class="text-success my-2 py-1">
                @ViewData["message"]
            </div>
        }
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="col-mb-3">
            <label asp-for="Dni" class="control-label"></label>
            <input asp-for="Dni" class="form-control" name="dni" readonly />
            <span asp-validation-for="Dni" class="text-danger"></span>
        </div>
        <div class="col-mb-3">
            <label asp-for="Nombre" class="control-label"></label>
            <input asp-for="Nombre" class="form-control" name="nombre" readonly/>
            <span asp-validation-for="Nombre" class="text-danger"></span>
        </div>
        <div class="col-mb-3">
            <label asp-for="Email" class="control-label"></label>
            <input asp-for="Email" class="form-control" name="email" readonly/>
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="col-mb-3">
            <a class="btn btn-primary" asp-controller="Home" asp-action="MyEdit">Editar</a>
        </div>
        <a class="btn btn-warning" asp-controller="Home" asp-action="Passnueva">
            Cambiar clave
        </a>
    </div>
    
</body>

