@model PaginaRedSocial.Models.User

@{
    ViewData["Title"] = "Perfil Page";
}

<head>
    <style>
        body {
           
        }

        .box{
            width: 600px;
            margin:auto;
        }
    </style>
</head>

<body>
    <div class="box">
        <form>
        <div class="col-mb-3">
            <label for="nombre" class="form-label">Nombre</label>
                <input type="text" class="form-control" 
                id="inputNombre" value="@Html.DisplayFor(model => model.Nombre)">
        </div>
        <div class="col-mb-3">
            <label for="nombre" class="form-label">DNI</label>
                <input type="text" class="form-control" 
                id="inputNombre" value="@Html.DisplayFor(model => model.Dni)">
        </div>
        <div class="col-mb-3">
            <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" 
                id="inputEmail" value='@Html.DisplayFor(model => model.Email).ToString()'>
        </div>
        <div class="col-mb-3">
            <button type="submit" class="btn btn-primary">@("Editar")</button>
        </div>
    </form>
        <a class="btn btn-warning" asp-controller="Home" asp-action="Passnueva">
            Cambiar clave
        </a>
    </div>
    
</body>

