@model IEnumerable<PaginaRedSocial.Models.User>

@{
    ViewData["Title"] = "Agregado Page";
}

<head>
    <style>
        body{
            flex: 1;
            height: 100% !important;
            width: 100% !important;
            background-color:#F2F2F2;
        }
    </style>
</head>

<body>
    Agregado
</body>